[2020-01-21 15:20] vt-iwamoto opened #17 "OpenApiVersion is not specified in template.yaml"
I think [OpenApiVersion](https://docs.aws.amazon.com/ja_jp/serverless-application-model/latest/developerguide/sam-resource-api.html#sam-api-openapiversion) should be specified in template.yaml to avoid creating an extra `Stage` stage.

[2020-05-06 15:25] rluria14 opened #29 "Please generate tarball release"
Please generate a tarball release for this repo. Thanks!

[2020-06-01 20:46] awood45 commented on #29
Good callout, we can definitely look into doing that.

[2020-06-01 20:49] awood45 commented on #29
Are there particular versioning issues driving this request, or do you just want the ability to also get this as a tarball?

For example, the `master` branch should always be usable, so the ZIP download link provided by GitHub, while not exactly what you're asking for, could meet your needs: https://github.com/awslabs/aws-sam-cli-app-templates/archive/master.zip

[2020-06-02 13:28] rluria14 commented on #29
No particular versioning issues, just need a tarball to build for conda-forge.

Thanks!

[2020-07-08 16:34] rluria14 commented on #29
@awood45 any updates on this? thanks!

[2020-07-24 21:48] dicolanl opened #50 "Create quick start template for powershell"
would be nice to have a template for powershell that could be used.

[2020-09-16 21:10] #50 closed

[2020-09-25 22:27] brainstorm opened #54 "Please add a working Rust app template"
Mirroring issue https://github.com/aws/aws-lambda-builders/issues/167#issuecomment-698100365 here.

The official works and general support are not exactly helpful at the time of writing this, unfortunately, so hopefully those pointers help for the time being? :/

[2020-10-01 18:05] mbacchi opened #55 "support CodeBuild buildspec.yml v0.2"
In the [CodeBuild buildspec reference](https://docs.aws.amazon.com/codebuild/latest/userguide/build-spec-ref.html#build-spec-ref-versions) it indicates that `type: zip` is deprecated as of `v0.2`.

This [cookiecutter buildspec](https://github.com/aws/aws-sam-cli-app-templates/blob/master/nodejs12.x/cookiecutter-quick-start-web/%7B%7Bcookiecutter.project_name%7D%7D/buildspec.yml#L20) should not ref

[2020-12-11 13:26] npajkovsky commented on #54
I'd like to have rust support as well.

[2020-12-14 03:23] scionwest opened #76 "Add TypeScript examples to the NodeJs templates"
## What is this?
This issue is to track the work I am doing in a fork to add a TypeScript NodeJS example template. The TypeScript template should include the following items:

- Handlers and all function code in TypeScript
- Unit Tests written in TypeScript
- Example code for mocking dependencies in tests.
- Scaffolding for an API Gateway based function
- Linting integration
- Successful Transpila

[2020-12-14 03:52] scionwest commented on #76
When I run `$ sam init --location /path/to/template.zip --runtime nodejs12.x --name foobar` the CLI still prompts me to confirm/select the runtime and project name. When I do this however without the `location` switch it works as expected - I select a template from the existing list and it generates the project.

Does this process not work when you add the `--location` switch or is there something

[2021-01-19 17:52] rgoodwin opened #81 "Request for Documentation on creating custom template repository and templates"
When launching `sam init` it gives you the ability to build from custom templates in a custom repository. Is there documentation (or pointers) on how to set that up and write the custom templates. (It looks like they are cookie cutter underneath; however some docs would help.

Generally, my team would like to be able to generate lambda projects from basic standard. -Thanks

[2021-02-19 22:29] rli opened #87 "Gradle wrapper in Java templates too far out of date"
On systems where JVM 15 is the default, the GradleBuild workflow will always fail:

[code]

[code]

Fix is to update the gradle wrapper:
[code]

Additionally, it's probably a good idea to have the `targetCompatibility` parameter defined by default in the templates, since at least on macOS the standard behavior is to use the latest JVM available

[2021-03-01 22:33] PraveenPeri opened #89 "Error: Lambda Runtime dotnet5.0 and dependency manager cli-package does not have an available initialization template"
"Create new SAM application" command in VS code with dotnet5.0 image keeps failing

**Repro Steps**
1. Install AWS Toolkit for VS code
2. Press F1 and run 'AWS: Create new SAM application'
3. Choose dotnet5.0 as the image and give a project name

**Expected Result**
Scaffolds a helloworld dotnet5 application

**Actual Result**
Fails with "Error: Lambda Runtime dotnet5.0 and dependency manager cli-

[2021-03-02 01:18] justinmk3 commented on #89
What does `sam --version` report? Try upgrading `sam`

[2021-03-02 01:20] PraveenPeri commented on #89
1.19.1

[2021-03-02 01:30] justinmk3 commented on #89
Ok, 1.19 is up-to-date. Just for reference, on my system with `sam` 1.17, the command works:

[code]

I wonder if something changed/regressed with sam 1.19 ?

[2021-03-02 04:55] PraveenPeri commented on #89
I downgraded all the way to 1.17 and I still see the error. What other things that SAM depends on that can possibly throw this error? What does that error even mean?

[2021-03-02 05:17] PraveenPeri commented on #89
I figured it out. It's our VPN that's causing the problems. Disconnected it and everything started working fine.

[2021-03-02 05:17] #89 closed

[2021-03-16 20:17] sdubov opened #93 "Update README.md in project templates with relevant number of supported IDEs"
The issue came from https://github.com/aws/aws-sam-cli/issues/2363.

Running sam command:
[code]
generates a project from a template that is cloned from
[code]

These templates contains an outdated README.md file with limited number of supported IDEs:
[code]

**Expected result:**
List of links to get started contains relevant list of supported IDEs. Currently, the link https://docs.aws.amazon.com/

[2021-03-19 01:22] justinmk3 opened #95 "sam init: "Error: Multiple lambda image application templates found""
This started happening in [our CI](https://github.com/aws/aws-toolkit-vscode/commit/274a59303de770db65a86f23b0907bcf10976558) today. Maybe caused by https://github.com/aws/aws-sam-cli-app-templates/commit/27dce06faabe6a05ba791cc9ce2f28f02fe84700 ?

[code]

Note the above command uses `python3.8-base` ;  this does *not* happen with e.g. `python3.7-base` :

    $ sam init --name testProject --no-int

[2021-03-19 19:01] justinmk3 commented on #95
@aahung @satmihir

[2021-03-19 19:25] CoshUS commented on #95
The PR #86 added more app templates to the repo, which makes init not defaulting to the only option available.
Adding `--app-template hello-world` to the init command will address this issue.

[2021-03-19 20:52] #93 closed

[2021-03-20 19:15] KFayal commented on #95
Just experienced the same issue when trying to select python3.8

[2021-04-01 15:49] justinmk3 commented on #95
For reference: cannot use `--app-template` to workaround this, because `sam` does not allow it with `--base-image`:

[code]

[2021-04-21 16:00] oblute commented on #29
just bumping this @awood45 if it would be possible

[2021-04-22 01:42] jpwynn opened #100 "Throw users a bone? Show how to invoke step function locally USING the ASL file? Show how to see the local logs?"
Trying the ruby 2.7 Stock Trader "example". (All the AWS guides seems to be  pointedly silent on the subject of locally executing a step function as defined in a SAM project). There's a fair number of stackoverflow questions on this topic, none of which explain how to do it.

So a single, complete "how to test stock Trader step function locally" would be a most welcome addition to the docs since i

[2021-05-10 15:20] aufbakanleitung opened #103 "New "EventBridge Hello World" python throws "Invalid value for `detail`, must not be `None`" upon invoke"
When creating a new "EventBridge Hello World" python application using AWS SAM, it throws the error `Invalid value for detail, must not be None` upon `sam invoke`. This is using these cookiecutter templates so that's why I'm posting the issue here.

I'm running:
- SAM CLI, version 1.23.0.
- Docker version 20.10.2, build 2291f61
- macOS big Sur, version 11.2.3

Run following commands to replicate:

[2021-05-19 17:05] ulili5 opened #108 "Just like NodeJs, create .NET Core 3.1 C# **Quick Start: From Scratch**"
It would be nice to have the same NodeJs Quick Start Templates for .NET Core 3.1

[2021-05-19 17:07] ulili5 opened #109 "Just like NodeJs, create .NET Core 3.1 C# **Quick Start: Scheduled Events**"
It would be nice to have the same NodeJs Quick Start Templates for .NET Core 3.1

[2021-05-19 17:08] ulili5 opened #110 "Just like NodeJs, create .NET Core 3.1 C# **Quick Start: S3**"
It would be nice to have the same NodeJs Quick Start Templates for .NET Core 3.1

[2021-05-19 17:08] ulili5 opened #111 "Just like NodeJs, create .NET Core 3.1 C# **Quick Start: SNS**"
It would be nice to have the same NodeJs Quick Start Templates for .NET Core 3.1

[2021-05-19 17:08] ulili5 opened #112 "Just like NodeJs, create .NET Core 3.1 C# **Quick Start: SQS**"
It would be nice to have the same NodeJs Quick Start Templates for .NET Core 3.1

[2021-05-19 17:08] ulili5 opened #113 "Just like NodeJs, create .NET Core 3.1 C# **Quick Start: Web Backend**"
It would be nice to have the same NodeJs Quick Start Templates for .NET Core 3.1

[2021-05-21 08:07] mutantmassXXX opened #114 "Sam build UnicodeEncodeError: 'charmap' codec can't encode characters in position 348-350: character maps to <undefined>"
I'm using SAM init templates but everytime i try to build it throws a UnicodeEncodeError: 'charmap' codec can't encode characters in position 346-348: character maps to <undefined>.  I tried looking into the src code but cant pinpoint the problem, can someone help me fix my issue?
![SAMError](https://user-images.githubusercontent.com/42291172/119104075-6d5da080-ba4e-11eb-88bb-3a3cd4419cb9.png)

[2021-05-29 11:29] youngmikee opened #121 "--application-template"
this is no longer path of the sam cli options

therefore sam init --runtime nodejs12.x --application-template typescript-app-template, keeps failing

[2021-06-02 09:52] brian-1d3 opened #122 "Java 11 -> gradle -> step function appears to not be accessable from SAM cli"
if I do `sam init` and select

Quick start template -> Zip -> Java 11 runtime -> Gradle -> Step functions sample app

then sam cli selects an 'EventBridge' app, displaying event bridge options:

[code]

the expected behaviour would be what happens when the the above is performed with the`java 8` runtime selected -  pulling the step-functions-app-template:

[code]

[2021-06-04 14:22] justinmk3 commented on #95
from https://github.com/aws/aws-sam-cli/issues/2846#issuecomment-854154902 :

[2021-08-03 19:40] jfuss commented on #121
@youngmikee The command fails because `--application-template` is not an option for SAM CLI:
[code]

The correct option is `--app-template`.

[2021-08-03 19:40] #121 closed

[2021-08-04 21:48] jfuss commented on #17
This seems like a good improvement. Updating labels.

[2021-08-04 21:54] jfuss commented on #54
We don't have any default builders but maybe we can enabling the building through `Makefile` builders or using Lambda Images over zips?

I am no expert in Rust, but happy to review a PR from the community on this.

[2021-08-04 21:59] jfuss commented on #55
Good catch @mbacchi. Updating labels.

[2021-08-09 00:08] brainstorm commented on #54
Sure, let's get this testing and review process going over https://github.com/aws/aws-sam-cli-app-templates/pull/129 ?

[2021-08-09 22:04] jfuss commented on #122
I was able to verify the behavior above. This is caused by https://github.com/aws/aws-sam-cli-app-templates/blob/master/manifest.json#L220. I think this is a error in the config, as none of the other `step-functions-sample-app` have this set.

[2021-08-31 16:26] elgreg opened #135 "jest tests fail for s3 example after running sam build"
In the [node 14.x cookie-cutter-quick-start-s3](https://github.com/aws/aws-sam-cli-app-templates/tree/master/nodejs14.x/cookiecutter-quick-start-s3) (i.e. the , the tests pass initially, but then fail after running `sam build` with the error message     AccessDenied: Access Denied
.
I did notice that if I`cd .aws-sam/build` directory, run `npm install` and then `npm run test` they pass again.

Wou

[2021-09-03 07:38] francesco-taioli opened #242 "Cache layer with docker to speed up the development workflow"

[2021-09-29 05:49] danielg-cf opened #138 "Node SQS sample templates are missing mandatory SQS polling policy"
In order for Lambda to be able to poll from an SQS queue, we must specify the `SQSPollerPolicy` policy, pointing to the relevant SQS queue:
[code]
This policy is missing in all SQS sample templates, thus `sam deploy` always fails with the following CloudFormation error:
[code]

[2021-10-08 04:28] michaelbrewer opened #143 "Add official template for Lambda Powertools for (Python, Java, Typescript)"
It would be a great value from a productivity point of view to add a template for AWS Lambda Powertool, much like [AWS Lambda  Powertools Python](https://github.com/aws-samples/cookiecutter-aws-sam-python), [AWS Lambda  Powertools Java](https://github.com/aws-samples/cookiecutter-aws-sam-powertools-java) & [AWS Lambda Powertools Typescript](https://github.com/aws-samples/cookiecutter-aws-sam-power

[2021-10-08 06:07] marksailes commented on #143
Like this?

https://github.com/aws-samples/cookiecutter-aws-sam-powertools-java

[2021-10-08 06:37] michaelbrewer commented on #143
Yep, that is linked in the ticket.

[2021-10-08 18:56] orozcoadrian commented on #143
In the meantime:
[code]

[2021-10-09 22:07] praneetap commented on #143
We would love this contribution!

[2021-10-10 01:13] michaelbrewer commented on #143
sure @praneetap ! maybe have a chat to @heitorlessa and @marksailes about the existing cookie cutter templates

[2021-10-10 11:14] kaihendry opened #144 "HttpApi template wanted"
Hoping to see something like:

[code]

(ins)[hendry@t14s aws-sam-cli-app-templates]$ rg HttpApi
./python3.9/cookiecutter-aws-sam-step-functions-etl-python/.gitignore: line 171: error parsing glob '{{cookiecutter.project_name}}/*_output.yaml': nested alternate groups are not allowed

[2021-10-16 07:39] Cinderhaze opened #145 "Getting started guide for running tests"
Is it possible to document how to run the tests in each repo?  For example, I found the following with respect to the python examples

https://stackoverflow.com/a/59377075/3543867

[code]
Which would probably be better served by doing a `pip3 install -r test/requirements.txt` as the above misses boto3.  But when I try to run `python3 -m pytest tests/ -v`, I get the following output..

[code]

[2021-11-01 22:24] fdbatista opened #148 "Error when trying to debug: `Must be absolute: file:///var/runtime/Runtime.js`"
Hi team.

I am trying to debug an AWS SAM CLI app top of NodeJS.
It all worked fine one week ago, when it suddenly stopped.

I use Jetbrains WebStorm and I am running this command:
`sam local start-api -d 9003 --docker-network db-rebuild_default` because my DB is running on a Docker container, so my Lambda functions need access to it.

First time I send a request via Postman, the breakpoint gets h

[2021-11-03 13:08] mauleyzaola opened #149 "Missing Makefile from go1.x template"
Hello, on this template [go1.x](https://github.com/aws/aws-sam-cli-app-templates/tree/master/go1.x-image/cookiecutter-aws-sam-hello-golang-lambda-image/%7B%7Bcookiecutter.project_name%7D%7D)

There is no `Makefile`, however document says otherwise

[2021-11-06 11:27] tobkle opened #150 "SQS Template not working: Model validation failed, EventSourceArn: failed validation constraint for keyword"
### Description:

First time sam user. But example created with wizard  for SQS/Lambda is not working.

### Steps to reproduce:

[code]

### Observed result:

CREATE_FAILED. AWS::Lambda::EventSourceMapping  SQSPayloadLoggerSQSQueueEvent
Resource handler returned message: "Model validation failed (#/EventSourceArn: failed validation constraint for keyword [pattern])" HandlerErrorCode. InvalidReques

[2021-11-11 04:06] moelasmar commented on #150
The fix has been merged.

[2021-11-11 04:06] #150 closed

[2021-11-29 15:40] jfuss commented on #145
@Cinderhaze What example are you using?

All our examples have README's, which describe how to run the tests: https://github.com/aws/aws-sam-cli-app-templates/blob/master/python3.7/cookiecutter-aws-sam-hello-python/%7B%7Bcookiecutter.project_name%7D%7D/README.md#unit-tests as an example.

[2021-11-30 00:42] #55 closed

[2021-11-30 01:00] jfuss commented on #103
This is because you are not sending any data to the local invoke and the function expects that. This is expected because the app assumes the event data fits the model sent by EventBridge. This is called out in the [README](https://github.com/aws/aws-sam-cli-app-templates/blob/master/python3.8/cookiecutter-aws-sam-eventBridge-python/%7B%7Bcookiecutter.project_name%7D%7D/README.md#use-the-sam-cli-to

[2021-11-30 01:00] #103 closed

[2021-11-30 01:03] jfuss commented on #95
This has been fixed in 1.24 of SAM CLI. Closing.

[2021-11-30 01:03] #95 closed

[2021-12-14 05:12] michaelbrewer opened #162 "bug: setting the prompted architectures generates an error"
## Issue

I am running `SAM CLI, version 1.36.0` and when I try to input the `architectures` prompted by Cookiecutter I get an `Error: Unable to decode to JSON.` error. And this might not be intuitive for a first time user

[code]

## Work around

If I set the input to `{"value":["arm64"]}` for `architectures` then this works.

[code]

Or if I pass in `architecture` in the cli and not enter anythi

[2021-12-17 12:21] aufbakanleitung commented on #103
Thanks for the answer. Honestly I forgot about this issue completely 😅

[2021-12-29 03:21] hoffa commented on #29
I'm not sure I understand the request. The `master` tarball is available at https://github.com/aws/aws-sam-cli-app-templates/archive/refs/heads/master.tar.gz.

[2021-12-29 04:55] hoffa commented on #108
Closing since the PR has been merged. Thanks for your contribution!

[2021-12-29 04:55] #108 closed

[2021-12-29 04:55] hoffa commented on #109
Closing since the PR has been merged. Thanks for your contribution!

[2021-12-29 04:55] #109 closed

[2021-12-29 04:55] hoffa commented on #110
Closing since the PR has been merged. Thanks for your contribution!

[2021-12-29 04:55] #110 closed

[2021-12-29 04:55] hoffa commented on #111
Closing since the PR has been merged. Thanks for your contribution!

[2021-12-29 04:55] #111 closed

[2021-12-29 04:56] hoffa commented on #112
Closing since the PR has been merged. Thanks for your contribution!

[2021-12-29 04:56] #112 closed

[2021-12-29 04:56] hoffa commented on #113
Closing since the PR has been merged. Thanks!

[2021-12-29 04:56] #113 closed

[2021-12-29 05:11] hoffa commented on #114
Are you still having this issue?

Looking at the screenshot, I suspect the issue is due to Windows using the [default encoding](https://docs.python.org/3/library/pathlib.html#pathlib.Path.write_text) (which seems to be CP-1252) for `write_text`, and if the characters in the input string can't be represented by the encoding, it fails.

[2021-12-29 20:16] hoffa commented on #149
Thanks for the heads-up; it's a remnant that shouldn't be there.

[2021-12-31 08:11] #29 closed

[2022-01-03 01:24] hoffa commented on #138
Are you still having the issue?

I tried running the following:

[code]

And it deployed fine. I then tried sending an arbitrary message to the queue, which was logged from the Lambda as expected:

[code]

[2022-01-03 01:27] hoffa commented on #138
Looking at the commit history this was also reported in https://github.com/aws/aws-sam-cli-app-templates/issues/150 and fixed by https://github.com/aws/aws-sam-cli-app-templates/pull/152. Closing.

[2022-01-03 01:27] #138 closed

[2022-01-03 18:19] #149 closed

[2022-01-07 15:28] c2tarun commented on #145
I am resolving this issue since there has been no activity in couple of months. Please re-open if you have any more question.

Thanks

[2022-01-07 15:28] #145 closed

[2022-01-07 15:45] c2tarun commented on #144
Thanks for creating the request. I'll bring this to our PMs attention for further prioritization. We'll update the issue with any progress.

[2022-01-15 16:48] michaelbrewer commented on #143
@praneetap - added the inclusion of the new typescript version to the list

[2022-01-15 17:16] praneetap commented on #143
We are working on ESBuilder support for typescript, so typescript init template would be very helpful once we get that out 😊

[2022-01-21 23:45] RomanMauricio opened #179 "Add MemorySize and Timeout to HelloWorld template"
### Describe your idea/feature/enhancement
I wish SAM CLI would explicitly add the MemorySize and Timeout to the Lambda function resource in the default Hello World template. This way, as one adapts the template by adding resources, including dependencies, the template makes it explicit that these are two parameters that one can modify.

### Proposal

Add details of how to add this to the product.

[2022-01-26 00:34] michaelbrewer commented on #87
https://github.com/aws/aws-sam-cli-app-templates/pull/161

[2022-01-26 00:35] michaelbrewer commented on #87
@rli - i have a fix for this in PR #161

[2022-01-26 02:00] rli commented on #87
thanks!

[2022-01-26 02:00] #87 closed

[2022-01-27 19:32] Phuurl opened #181 "Example for Go with AL2 base"
The current Go examples use the `go1.x` Lambda runtime, which is [announced as being considered legacy](https://aws.amazon.com/blogs/compute/migrating-aws-lambda-functions-to-al2/) as it uses Amazon Linux, and does not support newer Lambda features such as ARM/Graviton2 support. Could they either be updated to use the `provided.al2` runtime, or have a separate `provided.al2` Go example available?

[2022-02-09 07:24] waliaashish85 opened #185 "Unable to create state machine locally with step-functions-sample-app. Ran into SCHEMA_VALIDATION_FAILED: Value is not a valid resource ARN at /States/Check Stock Value/Resource"
**Description:**
Trying to run AWS Steps Function locally using SAM CLI for the first time. Followed the [guide](https://docs.aws.amazon.com/step-functions/latest/dg/sfn-local-lambda.html) but couldn't get state machine created locally for `step-functions-sample-app`

**Steps to reproduce:**
Downloaded `step-functions-sample-app` via `sam init`
[code]
Built the app
[code]
Started `AWS SAM CLI loca

[2022-02-24 19:54] ulili5 opened #195 ".NET 3.1 Test - mock the response in the test so that it can be invoked without any permission"
Mock the test implementations for the .NET 3.1 S3 and Web Template

[2022-02-24 20:25] ulili5 opened #196 "Add SAM template for .NET 6 C# **Quick Start: Web Backend**"
AWS  announced [the .NET 6 runtime for AWS Lambda](https://aws.amazon.com/blogs/compute/introducing-the-net-6-runtime-for-aws-lambda/) Let's add SAM template for .NET 6 C# **Quick Start: Web Backend**

[2022-02-24 20:29] ulili5 opened #197 "Add SAM template for .NET 6 C# **Quick Start: SQS**"
AWS announced [the .NET 6 runtime for AWS Lambda](https://aws.amazon.com/blogs/compute/introducing-the-net-6-runtime-for-aws-lambda/), let's add SAM template for .NET 6 C# **Quick Start: SQS**

[2022-02-24 20:30] ulili5 opened #198 "Add SAM template for .NET 6 C# **Quick Start: SNS**"
AWS announced [the .NET 6 runtime for AWS Lambda](https://aws.amazon.com/blogs/compute/introducing-the-net-6-runtime-for-aws-lambda/), let's add SAM template for .NET 6 C# **Quick Start: SNS**

[2022-02-24 20:30] ulili5 opened #199 "Add SAM template for .NET 6 C# **Quick Start: S3**"
AWS announced [the .NET 6 runtime for AWS Lambda](https://aws.amazon.com/blogs/compute/introducing-the-net-6-runtime-for-aws-lambda/), let's add SAM template for .NET 6 C# **Quick Start: S3**

[2022-02-24 20:31] ulili5 opened #200 "Add SAM template for .NET 6 C# **Quick Start: Scheduled Events**"
AWS announced [the .NET 6 runtime for AWS Lambda](https://aws.amazon.com/blogs/compute/introducing-the-net-6-runtime-for-aws-lambda/), let's add SAM template for .NET 6 C# **Quick Start: Scheduled Events**

[2022-02-24 20:32] ulili5 opened #201 "Add SAM template for .NET 6 C# **Quick Start: From Scratch**"
AWS announced [the .NET 6 runtime for AWS Lambda](https://aws.amazon.com/blogs/compute/introducing-the-net-6-runtime-for-aws-lambda/), let's add SAM template for .NET 6 C# **Quick Start: From Scratch**

[2022-02-24 20:32] ulili5 opened #202 "Add SAM template for .NET 6 C# **Scheduled task**"
AWS announced [the .NET 6 runtime for AWS Lambda](https://aws.amazon.com/blogs/compute/introducing-the-net-6-runtime-for-aws-lambda/), let's add SAM template for .NET 6 C# **Scheduled task**

[2022-02-24 20:33] ulili5 opened #203 "Add SAM template for .NET 6 C# **EventBridge App from scratch (100+ Event Schemas)**"
AWS announced [the .NET 6 runtime for AWS Lambda](https://aws.amazon.com/blogs/compute/introducing-the-net-6-runtime-for-aws-lambda/), let's add SAM template for .NET 6 C# **EventBridge App from scratch (100+ Event Schemas)**

[2022-02-24 23:24] ulili5 commented on #202
Duplicated with https://github.com/aws/aws-sam-cli-app-templates/issues/200

[2022-02-24 23:24] #202 closed

[2022-02-28 23:41] ammoheim opened #210 "Add SAM template for .NET 6 C# Quick Start: SQS"

[2022-03-01 00:12] rjesh-git commented on #201
Assign to me!

[2022-03-01 22:31] #210 closed

[2022-03-04 19:35] ulili5 commented on #200
#183 Work in progress

[2022-03-04 19:43] ulili5 opened #216 "Correct dotnet6 hello-step-functions-sample-app"
The [dotnet6 hello-step-functions-sample-app](https://github.com/aws/aws-sam-cli-app-templates/tree/master/dotnet6/cookiecutter-aws-sam-hello-step-functions-sample-app) is not working as expected.

After deploying the project created from this template. If you try to test the project by running the AWS Step Functions state machine it is failing because all the 3 Lambda functions are returning empt

[2022-03-07 13:47] #143 closed

[2022-03-09 18:44] james-fl0 opened #220 "Error: Template file not found at /Users/myuser/path/to/project/template.yml"
Hi team, I'm following the instructions to get set up with AWS SAM Hello World app.
The README file says this:

When I run `sam build`, it shows this error:

Error: Template file not found at /Users/myuser/path/to/project/template.yml

The Hello World app generates a file called `template.yaml`, not `template.yml`.

[2022-03-09 18:46] #220 closed

[2022-03-18 17:15] allanchua101 opened #225 "Quick Start Template for TypeScript Serverless APIs"
### Describe your idea/feature/enhancement

I wish SAM CLI offers the capability to automatically scaffold AWS Quick Start - serverless APIs for TypeScript.

### Proposal

Add a `nodejs14.x - TypeScript` option on `sam init` process for Quick Start templates of Serverless APIs.

[2022-03-21 06:49] CoshUS commented on #225
Transferred to app template repo.
@allanchua101 Would this PR be something you are looking for?
https://github.com/aws/aws-sam-cli-app-templates/pull/193

[2022-04-04 02:22] brainstorm commented on #54
Nevermind, the AWS Rust team is doing a great job with `cargo-lambda`, SAM is not strictly needed anymore, AFAICT.

[2022-04-04 02:22] #54 closed

[2022-04-06 10:38] msailes opened #234 "Adding Tiered Compilation configuration to Java templates"
Tiered compilation for Java was discussed in the AWS Compute Blog [Optimizing AWS Lambda function performance for Java](https://aws.amazon.com/blogs/compute/optimizing-aws-lambda-function-performance-for-java/)

For the majority of use cases this can decrease cold start times by up to 60%. I think it would be good for customers to include this configuration in Java templates.

If approved I can wr

[2022-04-18 20:02] mndeveci commented on #234
Thanks for raising this issue @msailes , I am resolving this now since the changes have been merged.

[2022-04-18 20:02] #234 closed

[2022-05-02 08:32] mingkun2020 commented on #216
Thank you for your contribution! We really appreciate it. We will take time to review the pr.

[2022-05-02 08:34] mingkun2020 commented on #201
Thanks @ulili5 for reporting this and thanks @rjesh-git , looking forward for your contribution!

[2022-05-04 19:13] jfuss commented on #216
Closing. PR was merged and will be included in the next release of SAM CLI.

[2022-05-04 19:13] #216 closed

[2022-05-09 20:14] jfuss commented on #114
Closing due to no response. Please feel free to create a new issue if this is still happening.

[2022-05-09 20:14] #114 closed

[2022-05-09 20:24] jfuss commented on #185
You need to replace the ARNs (like https://github.com/aws/aws-sam-cli-app-templates/blob/master/python3.8/cookiecutter-aws-sam-step-functions-sample-app/%7B%7Bcookiecutter.project_name%7D%7D/statemachine/stock_trader.asl.json#L48) in the definition. The example we have is may not be runnable locally and assumes it is deployed instead.

Closing.

[2022-05-09 20:24] #185 closed

[2022-05-09 20:26] #122 closed

[2022-05-09 20:28] jfuss commented on #181
@Phuurl Thanks for the request. Previously, we didn't have support for provided runtimes and this has changed with our Rust examples. Happy to review a PR on adding go1.x in this manner. https://github.com/aws/aws-sam-cli-app-templates/tree/master/provided.al2 is where you should put the example.

[2022-05-10 20:27] jfuss commented on #201
PR merged. This will go out with the next SAM CLI release.

Closing.

[2022-05-10 20:27] #201 closed

[2022-05-10 20:32] jfuss commented on #196
PR was merged and this will go out in the next SAM CLI release.

Closing

[2022-05-10 20:32] #196 closed

[2022-05-11 09:37] EliaContiniCL-CH opened #239 "Uncomplete publish on Serverless Application Repository"
Hi everybody,

I'm trying to make public on SAR the **Hello World Example** but I had some troubles:
 - the README.md is not displayed/set
 - the License in not displayed/set and it is not possible to make the application public.

## My dev env
macOS Big Sur 11.6.5
SAM CLI, version 1.49.0

## Steps to reproduce the issue

1. I used `sam init` to create the project (Hello World Example, Nodejs 16).

[2022-05-11 19:45] jfuss commented on #200
PR was merged and will go out in the next SAM CLI release.

Closing.

[2022-05-11 19:45] #200 closed

[2022-05-12 02:06] #197 closed

[2022-05-12 02:07] mndeveci commented on #198
Thanks for creating this issue @ulili5 would you like to raise a PR for this?

[2022-05-12 02:08] mndeveci commented on #198
Thanks for raising this issue, we will merge PR once comments are addressed.

[2022-05-12 02:08] mndeveci commented on #195
Thanks for creating this issue @ulili5 would you like to raise a PR for this?

[2022-05-12 02:08] mndeveci commented on #203
Thanks for creating this issue @ulili5 would you like to raise a PR for this?

[2022-05-12 02:12] mndeveci commented on #225
Thanks for your recommendation @allanchua101

We already have a Typescript template here: https://github.com/aws/aws-sam-cli-app-templates/tree/master/nodejs14.x/cookiecutter-aws-sam-hello-typescript-nodejs

I am resolving this issue but please let us know if you are recommending something else.

[2022-05-12 02:12] #225 closed

[2022-05-17 07:45] mndeveci commented on #76
Hi @scionwest ,

With esbuild support in SAM CLI, we have included some TS examples in the application templates. I am resolving this issue for now but we would be happy to review a PR if you want to contribute more to TS examples.

Thanks!

[2022-05-17 07:45] #76 closed

[2022-05-17 07:47] mndeveci commented on #199
Hi @ulili5,

We would love to review your PR if you (or your team) wants to contribute for this template.

[2022-05-18 00:07] torresxb1 commented on #239
Thanks for opening an issue, we will try to reproduce and look into it further. Please watch this channel for more updates, and feel free to reach out.

[2022-06-01 01:00] CoreyCole opened #246 "Bug: Windows x64 quick start web template error"
### Description:

Follwing the documentation [here](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-install-windows.html) I ran `sam init` and it threw the error:
[code]

### Steps to reproduce:

[code]

### Additional environment details (Ex: Windows, Mac, Amazon Linux etc)

1. OS: Windows x64
2. If using SAM CLI, `sam --version`: 1.51.0
3. AWS re

[2022-06-01 01:39] CoreyCole commented on #246
FWIW working great on linux 1.51

[2022-06-02 00:04] rli opened #247 "Feature request: Java Templates should allow users to pick between SDK v1 and v2"
Requested through the internal toolkits issue queue

[2022-06-02 20:52] moelasmar commented on #247
Thanks @rli for requesting this feature. Could you please clarify more what do you mean by SDK v1, and V2. Do you mean AWS SDK?

[2022-06-04 06:39] zerkowsm opened #248 "Bug: sam init graalvm.java11"
### Description:
Trying sam init for graalvm.java11 hello world example generates project with samconfig.toml file inside HelloWorldFunction folder. I have impression that it is not the proper file location - shouldn't it be located in the project base folder - on the same level as template.yaml file, instead?

### Steps to reproduce:
    sam init

1 - AWS Quick Start Templates
1 - Hello World Exa

[2022-06-07 18:39] Metrowerks commented on #247
@moelasmar yes it was about the AWS SDK v2

[2022-06-07 23:58] hawflau commented on #246
I could reproduce the issue in my Windows machine, and got no issue in MacOS. Seeing the exact same log as provided. Will investigate further.

[2022-06-17 03:33] stanfan1992 opened #260 "Bug: SAM init - graalvm runtime error"
### Description:

When using `sam cli` with runtime Java11 gradle dependency, `sam build` failed

### Steps to reproduce:

sam init
	1 - AWS Quick Start Templates
	1 - Hello World Example
	7 - java11
	1 - gradle

docker build succeed, but failed on sam build
### Observed result:

With `--debug` flag, we have:
[code]

### Expected result:

A succeed build

### Additional environment details (Ex: Wi

[2022-06-18 21:20] ashrimp opened #261 "sam init looking for template quick-start-from-scratch"
### Description:
sam init looking for template quick-start-from-scratch but the pacakges under nodejs14.x have been renamed to add prefix cookiecutter-xxxx and hence the sam init is failing with error

Error: Can't find application template quick-start-from-scratch - check valid values in interactive init.

### Steps to reproduce:
execute sam init

### Observed result:
Error: Can't find applicatio

[2022-06-27 15:55] mildaniel commented on #261
I tried doing a `sam init` flow with version 1.52.0 and creating a nodejs14.x app and it seemed to work fine. Are there any other steps you can give to help us reproduce?

[2022-06-27 16:29] ActionPace opened #263 "Error with sam init when downloading python templates -- "Please verify your location...""
### Description:

I tried with both sam cli 1.52.0 and 1.49.0 on Windows 10 Pro - Version 21H1 - Build 19043.1766
In both cases, when trying to download a python template with sam init , I got the error:

Cloning from https://github.com/aws/aws-sam-cli-app-templates (process may take a moment)
2022-06-27 11:55:42,934 | Clone error, attempting to use an old clone from a previous run

Error: Please

[2022-06-27 20:28] mildaniel commented on #263
Hey @ActionPace, `AppData\Roaming\AWS SAM` is a cache we keep on your machine of the relevant templates so that we don't always have to clone. It looks like your cache was somehow out-of-sync with the repo. If this happens, you can try deleting that directory and re-running `sam init`. This should hopefully re-create the cache and work as expected after without having to manually download anything

[2022-06-28 00:41] ActionPace commented on #263
Thanks for your reply.

I uninstalled sam cli - rebooted windows - deleted all remnants of sam cli in AppData etc and reinstalled

Was able to get a couple of the hello world variants installed but started having problems with the Serverless API options (3)

C:\Users\David\Documents\Serverless\tests>sam --version
SAM CLI, version 1.52.0

C:\Users\David\Documents\Serverless\tests>sam init --debug

[2022-06-28 01:21] ActionPace commented on #263
I tried the git workaround as I explained in in a comment in issue https://github.com/aws/aws-sam-cli/issues/3946 and it seems to have helped me reset the git clone status..

[2022-06-29 03:07] hawflau commented on #263
@ActionPace happy to hear that the workaround worked for you in the other thread.

I'm closing the issue here. Please move the discussion to aws/aws-sam-cli#3946 if there's any further question.

[2022-06-29 03:07] #263 closed

[2022-06-29 03:10] hawflau commented on #261
Closing as it seems a duplicate of aws/aws-sam-cli#3946.

@ashrimp please move the discussion to aws/aws-sam-cli#3946, and let us know if the workaround doesn't work for you. Also note that we will have a fix in the upcoming release.

[2022-06-29 03:10] #261 closed

[2022-06-29 03:16] hawflau commented on #260
Hey @stanfan1992 thanks for reporting the issue. I confirm that I could reproduce the issue. Here's my debug log:
[code]

Looks like there's a bug in expending the `build_image` option. We will check how to fix it.

[2022-06-29 04:06] hawflau commented on #260
PR #255 should fix the issue

[2022-06-29 04:07] hawflau commented on #248
PR #255 should fix the issue

[2022-06-29 04:07] hawflau commented on #260
Closing as duplicate of #248

[2022-06-29 04:07] #260 closed

[2022-07-02 05:02] hawflau commented on #248
PR #255 merged. It should be released along with next release of SAM CLI

[2022-07-04 19:48] hawflau commented on #179
Thanks for raising the issue. This seems a fair ask. Marking it as good first issue. Contributions are welcomed.

[2022-07-04 19:51] hawflau commented on #162
Thanks for reporting the issue. I agree this is not very intuitive to use. We will take it internally and discuss how to fix it.

[2022-07-05 21:15] mndeveci commented on #247
Thanks for the request. I haven't checked in detail but looking at the package `groupId` it looks like they are different. So I wonder if we can still build the same code with V1 and V2 at the same time?

If not then we can think about completely moving to V2 if that is the intention or have alternatives for each (or at least most of) the templates so that users can choose during `sam init`.

[2022-07-05 22:49] rli commented on #247
no the imports / namespace are different. i'd confirm with the Java SDK team, but i think they'd leaning towards pushing customers to V2, rather than keeping both templates around

[2022-07-06 09:22] mndeveci commented on #247
Sure, if they are pushing for V2, we can update all java templates with them as well.

[2022-07-07 11:11] mndeveci commented on #198
PR is merged, resolving this issue

[2022-07-07 11:11] #198 closed

[2022-07-08 04:39] Metrowerks commented on #247
hi, we are doing SDK v2 so for us whether completely moving to v2 or maintaining both versions won't matter. I mentioned options to select v2 because I thought some other users may have use case to stay with v1, but I see the point to make it completely v2 to motivate users to move to the latest SDK version.

[2022-07-08 12:33] mndeveci commented on #247
Thanks, but my question was about whether we want customers to still use V1 given that we are working on V2 for a while. So depending on the answers we could;

- A: If using V1 is still accepted and encouraged, keep V1 and add V2 examples as well (which means duplicated templates & more maintenance work for us)
- B: If using V1 still OK but we want people to use V2, we can migrate all templates to

[2022-07-09 03:38] Metrowerks commented on #247
I'd prefer option C. For us, we don't do anything with V1 anymore. I think if you change everything in the toolkit to v2, and then have the v1 templates in a github repo for users to clone if needed, that'd work.

[2022-07-11 15:16] mndeveci commented on #247
Sure, if that is the case, we can go with option C there. Would you like to contribute this repo and raise a pull request for the changes?

[2022-07-13 20:52] Metrowerks commented on #247
I'd love to but we're in a crunch time to deliver P0 for this year and it has been taking a good amount of time for us to figure out how to set up the project with the SDK's.

btw, this is an out-of-topic question but are there any example of how to implement lambda handle in SDK 2 using RequestHandler like with SDK 1? It seems that RequestHandler is still only available in SDK 1?

[2022-07-20 13:02] shinglyu opened #267 "Bug: Rust template build failure"
### Description:
When using the x86_64 architecture for the Rust template, the command `make build` fails.
The empty parameter `CARGO_LAMBDA_FLAGS=''` is not acceptable by `cargo lambda build`. I can help fix it but I'm not sure if we should remove the environment variable or try to make `cargo lambda` accept empty parameters.

### Steps to reproduce:
Create a SAM project using `sam init` and sele

[2022-07-23 09:51] pputhran opened #268 "Feature request: Add AWS Budget CFN resources to the existing sam cli app templates"
### Describe your idea/feature/enhancement

**Idea:** Include AWS Budgets CloudFormation resources in the existing cookie cutter SAM CLI application templates.

Customers/users who create and deploy the Serverless applications using the sam init calls might accidentally run into [runaway/infinite loops scenarios](https://docs.aws.amazon.com/lambda/latest/operatorguide/recursive-runaway.html) which

[2022-07-27 10:33] moelasmar commented on #268
Thanks @pputhran for sharing this feature request with us. The main idea of the SAM CLI templates is to give example to customers to use Serverless resources. The customers should use these templates as a start, and keep updating the project as they go, and need new things. So, I think is not part of our goal to add some resources that monitor the cost, or creates alarms or dashboards for the reso

[2022-07-28 19:09] moelasmar commented on #267
thanks @shinglyu  for raising this issue.
I think it is better to pass the target in all cases, and not to depend on the default behaviour, so I think the Makefile should be something like this:
[code]

[2022-08-05 18:20] kevendi opened #272 "SAM validate resulting in botocore.parsers.ResponseParserError: Unable to parse response (no element found: line 1, column 0), invalid XML received. Further retries may succeed: b''"
### Description:

I am attempting to run "sam deploy" to deploy these sample SAM projects -

- Hello World Example
- Serverless API

The error I receive is a follows -

`Traceback (most recent call last):
  File "runpy.py", line 194, in _run_module_as_main
  File "runpy.py", line 87, in _run_code
  File "C:\Program Files\Amazon\AWSSAMCLI\runtime\lib\site-packages\samcli\__main__.py", line 12, in <

[2022-08-19 21:08] jfuss commented on #248
Update was released in [v1.54.0](https://github.com/aws/aws-sam-cli/releases/tag/v1.54.0) of SAM CLI.

Closing

[2022-08-19 21:08] #248 closed

[2022-08-31 16:20] hunt3ri opened #276 "Feature request: Replace unittest TestCase with Pytest in hello-python templates"
### Describe your idea/feature/enhancement

The test code in cookiecutter-aws-sam-hello-python is a somewhat confusing mix of pytest and unittest tests.  I suggest we standardize on pytest and use fixtures in both the unit and integration tests.

eg

### Current Unit Tests
Are pytest flavour

[code]

#### Current Integration Tests

Are unittest flavour
[code]

### Proposal

Standardize on pytest i

[2022-08-31 20:25] jfuss commented on #276
@hunt3ri Can you be more specific. Looking at https://github.com/aws/aws-sam-cli-app-templates/blob/master/python3.7/cookiecutter-aws-sam-hello-python/%7B%7Bcookiecutter.project_name%7D%7D/tests/unit/test_handler.py they are using pytest.

[2022-08-31 20:42] hunt3ri commented on #276
@jfuss sure.  The integration tests that the hello-world project generate use unittest setup approach, see below

[https://github.com/aws/aws-sam-cli-app-templates/blob/master/python3.9/cookiecutter-aws-sam-hello-python/%7B%7Bcookiecutter.project_name%7D%7D/tests/integration/test_api_gateway.py](https://github.com/aws/aws-sam-cli-app-templates/blob/master/python3.9/cookiecutter-aws-sam-hello-pytho

[2022-08-31 21:21] jfuss commented on #276
The integration tests are for testing the cookiecutter (which I don't even know if we run anymore). So those are not shown to customer doing `sam init`.

The team is also more comfortable with `unittest`, it's how all our repos are setup. So given pytest is only in the examples and the integrations are for the maintainers, I not inclined to change it.

[2022-08-31 21:26] hunt3ri commented on #276
They definitely are shown, as I just ran `sam init` today on 1.55 and those precise tests were generated.

Those integration tests I linked to test the api_gateway the helloworld sam app generates via the cloudformation stack.  Unless I'm missing something fundamental here??

[2022-09-01 15:04] jfuss commented on #276
@hunt3ri Nope you are right, my mistake. I got lost in the layout.

I am fine with moving it all to `pytest`. Consistency within the examples are important.

[2022-09-01 15:30] hunt3ri commented on #276
@jfuss ha no worries, getting people onto the same page is always tricky 😄

OK I'll pull together a PR and you can let me know what you think.  I'm only going to worry about Python 3.7, 3.8, 3.9 as 3.6 is now not supported.  But let me know if you disagree.

Thanks for the support

[2022-09-02 12:10] jfuss commented on #276
@hunt3ri Seems reasonable to me!

[2022-09-07 14:20] hunt3ri commented on #276
Thanks for merging @jfuss 👍

[2022-09-08 21:25] hunt3ri opened #280 "Feature request: Remove Python 3.6 Templates"
### Describe your idea/feature/enhancement

Python 3.6 is not supported by the Python community or AWS.  You can't create new lambdas using 3.6.  We should remove all 3.6 templates, as 3.6 is neither supported or secure.

This removes a maintenance burden and will reduce the overall size of the template package download

### Proposal

- Remove all python 3.6 templates
- Remove 3.6 references from

[2022-09-08 21:30] sriram-mv commented on #280
This is a great initiative, please go ahead and make a PR for this and you can reference this doc: https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html#runtime-support-policy while making the PR too

[2022-09-13 03:06] cscetbon opened #282 "Bug: TITLE"
### Description:

Invoking locally sam with template hello-world-typescript fails

### Steps to reproduce:

[code]

### Observed result:

Fails with _**Error: Cannot find module 'app'**_

### Expected result:

Should work like template hello-world does

### Additional environment details (Ex: Windows, Mac, Amazon Linux etc)

1. OS: Mac OS Monterey 12.6
2. If using SAM CLI, `sam --version`:  SAM CL

[2022-09-13 16:34] lucashuy commented on #282
Hi, thanks for opening this issue! I was able to replicate your results from your provided steps. Can you try running `sam build` before running `sam local invoke`? Since Typescript needs to be transpiled back to Javscript for nodejs to execute it, `sam build` needs to be run first to do that.

[2022-09-13 18:38] lucashuy commented on #276
Your changes are now live, thanks @hunt3ri for your contribution! Feel free to open a new issue if you have any more feedback

[2022-09-13 18:38] #276 closed

[2022-09-13 20:49] hunt3ri commented on #276
Thanks @lucashuy happy to help 😄

[2022-09-17 13:30] bpauwels opened #285 "Bug: Build fails for "Hello World Example TypeScript w/ Lambda Powertools""
### Description:
For the nodejs14.x template "Hello World Example TypeScript w/ Lambda Powertools" the `sam build` command fails with errors stating that the lambda powertools dependencies cannot be resolved.

[code]

### Steps to reproduce:

Run `sam init`and create a new project with the nodejs14.x template "Hello World Example TypeScript w/ Lambda Powertools". Then run `sam build` in the projec

[2022-09-17 13:41] bpauwels opened #287 "Feature request: Nodejs16.x support for "Hello World Example TypeScript w/ Lambda Powertools""
### Describe your idea/feature/enhancement

Support Nodejs16.x runtime for the template "Hello World Example TypeScript w/ Lambda Powertools"

### Proposal

/

### Additional Details

/

[2022-09-17 22:42] moelasmar commented on #287
Thanks @bpauwels for your contribution.

[2022-09-17 22:43] moelasmar commented on #285
thanks @bpauwels for your contribution.

[2022-09-17 22:57] moelasmar commented on #268
Sorry @pputhran for my late reply. I checked with the team, and as I shared before, this type of templates is not the purpose of this project. I am going to close this issue based on that.

[2022-09-17 22:57] #268 closed

[2022-09-27 19:59] #267 closed

[2022-10-04 07:04] sulemanelahi opened #290 "Feature request: Quick Start Template for TypeScript Serverless APIs"
### Describe your idea/feature/enhancement
I wish SAM CLI offers the capability to automatically scaffold AWS Quick Start - serverless APIs for TypeScript.

### Proposal
Add a nodejs14.x/nodejs16.x - TypeScript option on sam init process for Quick Start templates of Serverless APIs.

### Additional Details
I know that the [issue # 225](https://github.com/aws/aws-sam-cli-app-templates/issues/225) w

[2022-10-11 21:36] lucashuy commented on #290
Hi, thanks for suggesting this feature! This sounds like something that can be added to the serverless API templates. In the mean time, if any community members wanted to contribute feel free to fork and submit a PR!

[2022-10-11 21:44] lucashuy commented on #280
Thanks for your contributions! Closing as this is now live 😃

[2022-10-11 21:44] #280 closed

[2022-10-20 03:37] seetamraju opened #298 "Bug: GraalVM builds on Non-amd64 platform fail"
### Description:
The README's "docker build" As-Is on a M1-MacOS.  Reason: Dockerfile is hardcoded for amd64.

### Steps to reproduce:
Buy a new M1 MacBook.  Ideally, a Pro.
sam init (HelloWorldExample + GraalVM.java17 + Gradle);
Then, follow Readme.md instructions on a M1 MacBook.

### Observed result:

### Expected result:
Success with "docker build"

### Additional environment details (Ex: Wind

[2022-10-25 21:05] mndeveci commented on #298
Thanks for raising this issue and also providing the fix! I've added some question to your PR.

[2022-11-08 15:46] northvankiwiguy opened #302 "Multi-step Workflow throws JSON Parsing error on Java8.al2 runtime"
Here are the steps to reproduce:

`% sam init`
Select AWS Quick Start Templates
Select Multi-step Workflow
Select Java8.al2
Select gradle
Select all the remaining defaults

`> cd sam-app`
`> sam build`
`> sam deploy -g`
Select all the remaining defaults.

In the template, change `HourlyTradingSchedule` to `Enable: True`, and `rate(1 minute)` so the State Machine will actually run, then:
`> sam bui

[2022-11-09 17:07] shishirpy opened #303 "Unable to clone on windows"
Unable to clone the repo on windows get the following error:

[code]

[2022-11-09 17:23] hawflau commented on #303
Hi @shishirpy, thanks for raising the issue. Please enable Long Path in your Windows environment - https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/install-sam-cli.html#install-sam-cli-instructions.

Closing as duplicated with https://github.com/aws/aws-sam-cli/issues/4031

[2022-11-09 17:23] #303 closed

[2022-11-09 21:41] moelasmar commented on #302
Thanks @northvankiwiguy for raising this issue. I will try to reproduce it to investigate the issue.

[2022-11-11 00:40] crystalwee opened #306 "Bug: AWS Quick Start Template failed to clone the selected template"
Environment: Windows

![image](https://user-images.githubusercontent.com/1115675/201235391-9c05280f-27f4-4e42-a7e4-aa6d9a6cc649.png)

[2022-11-11 00:44] crystalwee commented on #306
move the issue to https://github.com/aws/aws-sam-cli/issues

[2022-11-11 00:44] #306 closed

[2022-11-18 17:55] mildaniel commented on #287
Closing as the corresponding PR has been merged.

[2022-11-18 17:55] #287 closed

[2022-11-18 17:56] mildaniel commented on #179
This has now been merged in #304.

[2022-11-18 17:56] #179 closed

[2022-11-23 08:30] russau opened #316 "omnisharp.json msbuild rhel.7.2-x64 prevents unit tests debugging in VS Code"
This line is making unit tests in Visual Studio Code fail to debug.  When I remove the `msbuild` setting and reload the window my unit tests work.  Does this setting need to be here?  Without it I'm able to `sam build` and `sam deploy` okay.

https://github.com/aws/aws-sam-cli/blob/bad9a6226d0b871bf531ba649ee12a6ca90aa984/samcli/lib/init/templates/cookiecutter-aws-sam-hello-dotnet/%7B%7Bcookiecutt

[2022-11-24 18:26] lucashuy commented on #181
Thanks for suggesting this request! The templates for the AL2 runtime have been merged in, stay tuned for a future release of SAM CLI to seem them in `sam init`